@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', sans-serif;
  line-height: 1.7;
  background-color: #f4f4f4;
  color: #333;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 10px 0;
}

img {
  max-width: 100%;
}

.btn {
  background-color: #ddd;
  padding: 10px 30px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

/* Navigation */

.navbar {
  height: 60px;
  width: 100%;
  background-color: #eee;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4);
  padding: 0 30px;
  font-weight: 300;
  letter-spacing: 2px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #333;
  display: block;
  padding: 20px;
}

#showcase {
  background: url('../img/showcase.jpg') no-repeat center center/cover;
  min-height: 600px;
  z-index: -1;
}

#showcase .showcase-content h1 {
  padding-top: 580px;
  text-indent: 20px;
  font-size: 40px;
  font-weight: 100;
  color: #444;
  letter-spacing: 2px;
}

/* About */

.about {
  padding: 50px 30px;
}

.border {
  border: 1px solid #baafaf;
}

.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-columns .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .row .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.flex-columns .row .column .column-1,
.flex-columns .row .column .column-2 {
  height: 100%;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.flex-columns .row .column .column-2 {
  padding: 50px 0;
}

.section-title {
  font-family: 'Playfair Display';
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 10px 0;
}

.section-subtitle {
  text-align: center;
  color: #797979;
  letter-spacing: 2px;
}

.main-text {
  word-spacing: 5px;
  margin: 30px 0;
}

.undertext {
  color: #797979;
  font-size: 14px;
  line-height: 2;
}

.address {
  font-weight: bolder;
  color: #607d8b;
}

/* Menu */

.menu {
  padding: 0 20px;
}

.menu-items {
  padding: 30px 0;
}

.menu-items li {
  margin-bottom: 50px;
}

.menu-items h4 {
  font-size: 27px;
  font-weight: 300;
  color: #333;
}

.menu-items .menu-undertext {
  margin-top: 5px;
  font-size: 14px;
  color: #797979;
  font-style: italic;
}

/* Contact */

.contact {
  padding: 50px;
}

.contact .section-title {
  text-align: left;
  font-family: 'Playfair Display';
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 10px 0;
}

.contact p {
  margin-bottom: 20px;
}

.contact .form-group {
  margin-bottom: 20px;
}

.contact .form-group input {
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  text-indent: 5px;
}

/* Footer */

footer {
  height: 100px;
  background-color: #ddd;
}

footer p {
  text-align: center;
  padding-top: 40px;
  font-size: 14px;
}

footer a {
  text-decoration: underline;
  color: #333;
}
